* {
   outline: 1px solid red !important;
  }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  }

  .screenshot {
    max-width: 460px;
  }

  .description {
    max-width: 705px;
  }

  .app {
    display: flex;
  }
